/****** coupoun ***********/
.atn-coupon {
  min-width:280px;
  max-width:300px;
  padding-right: 20px;
  /* border:1px solid red; */
  background-image:url('http://lorempixel.com/300/400/food/1/');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;
}
.atn-coupon-top-text {
  position:absolute;
  top:10px;
  width: 100%;  
}
.atn-coupon-top-text .atn-coupon-top-header {
	font-family: 'Alex Brush', cursive;
	font-size: 40px;
	margin-bottom: -5px;
	word-wrap: break-word;
}
.atn-coupon-top-text .atn-coupon-top-description {	
	word-wrap: break-word;
}
.atn-coupon-bottom-text .atn-coupon-bottom-header {
	font-weight: bolder;
	font-style: italic;
	word-wrap: break-word;
}
.atn-coupon-bottom-text .atn-coupon-bottom-description {	
	font-style: italic;
}

.atn-coupon-bottom-text {
  position:absolute;
  bottom:20px;
  width: 100%;
  word-wrap: break-word;
}
/******* common carousel settings ********/
.bx-wrapper {
	margin-bottom: 0px;
}
.bx-wrapper .bx-viewport {
	left:0;
	background: transparent;
	border: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;  
}

/******* other utility classes*********/
.img-responsive-xs {
	display: inherit;
	height: auto;
	width: auto;
}

/****************************/
@media(max-width:767px) {

	.text-center-xs {
		text-align: center;
	}

	.center-block-xs {
	  display: block;
	  margin: 0 auto;
	}	
	.img-responsive-xs {
		display: block;
		height: auto;
    	max-width: 100%;		
	}
}

@media(min-width:768px) {

	.text-center-sm {
		text-align: center;
	}	
	.center-block-sm {
	  display: block;
	  margin: 0 auto;
	}
}

@media(min-width:992px) {
	.text-left-md {
		text-align: left;
	}

	.text-right-md {
		text-align: right;
	}
	
	.left-block-md {
	  display: block;
	  margin:inherit;
	}
}

@media(min-width:1200px) {
